*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
*.bak
.settings/
.classpath
.project
.metadata/
.idea/
logs/
*.log
/bin
*/bin
*.lnk
pom.xml.versionsBackup
.idea
/docs/

